.logo {
    height: 64px;
    
    font-size: 20px;
    text-align: center;
    line-height: 64px;

    color: #fff;
}
:global .lw-EditHtml{
    position: relative
}
:global .lw-EditHtml img{
    width: 50px;
}

:global .lw-top-col {
    margin-bottom: 20px;
}

:global .lw-text-align-center {
    text-align: center !important;;
}

:global .lw-modal-content-overflow-scroll {
    overflow-y: scroll;
    
    max-height: 400px;
}
:global .ant-tableThead {
    text-align: center!important;
}
:global .lw-div{
    vertical-align: top;
    position: relative;
    margin-bottom: 24px;
    zoom: 1;
    display: block;
}
:global .lw-div ::after{
    content: " ";
    display: table;
    box-sizing: border-box;
}
:global .lw-div label{
    padding-right: 5px;
    width: 81px;
    line-height: 32px;

    text-align: right;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;

    display: inline-block;

    overflow: hidden;
}
:global .lw-div input{
    height: 32px!important;
    line-height: 32px;
    position: relative;
    zoom: 1;
}
:global .lw-list-div {
    width: 100%;
}
:global .lw-list-div-li {
    padding-right: 15px;
    float: left;
}
:global .lw-list-table-div img{
    width: 50px;
    height: 35px;
}

/* Article */
:global .lw-article-top-col-span{
    width: 86px;
    height: 25px;
    font-size: 14px;

    color: #c1c1c1;

    padding: 0 15px;
    margin: 0 15px;

    display: inline-block;
    position: relative;

    // border-bottom: 1px solid #c1c1c1;
    cursor: pointer;
}
:global .lw-article-top-col-span svg{
    position: absolute;
    top: 0;
    left: 0;
}
:global .lw-article-top-col-span svg line{
    stroke-width: 2;
    stroke: #c1c1c1;
    fill: none;
    stroke-dasharray: 200;
    -webkit-transition: -webkit-transform .36s ease-out;
    transition: transform .36s ease-out;

}
:global .lw-article-top-col-span-change{
    color: #108ee9;
    -webkit-transition: all .36s ease-out;
    transition: all .36s ease-out;
}
:global .lw-article-top-col-span-change .line-left {
    stroke: #108ee9;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
}
:global .lw-article-top-col-span-change .line-right {
    stroke: #108ee9;
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
}